
.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}
.message__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
}
.message__userCard {
 background-color: rgb(33, 33, 247) !important;
}
.message__guestCard {
    background-color: rgb(176, 168, 168) !important;
}